<% cms_seed ||= index_branch %>

<li id='cms_seed_<%= cms_seed.id %>'>
  <div class='item'>
    <div class='icon'></div>
    <div class='action_links'>
      <%= link_to 'Duplicate',  duplicate_cms_admin_seed_path(cms_seed) %>
      <%= link_to 'Import',     import_cms_admin_seed_path(cms_seed) %>
      <%= link_to 'Download',   download_cms_admin_seed_path(cms_seed) %>
      <%= link_to 'Delete',     cms_admin_seed_path(cms_seed), :method => :delete, :confirm => 'Are you sure?' %>
    </div>
    <div class='label'>
      <%= link_to cms_seed.name, edit_cms_admin_seed_path(cms_seed) %>
      <div class='sublabel'>
        <%= cms_seed.relative_path %>
      </div>
    </div>
  </div>
</li>